<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Video Stream Server WS based Solution</title>
    <script src="/static/ws_handler.js" defer></script>
    <link rel="stylesheet" href="/static/index.css">
    <link rel="icon" type="image/png" href="/static/favicon.png"/>
</head>
<body>
    <h1>Video Stream Server WS based Solution</h1>
    <select name="cameras" id="cameras"></select>
    <button id="refresh">&#x21bb;</button>
    <div id="video"></div>
</body>
</html>